@import "tailwindcss";
@theme {
    /*  Couleur  */
    --color-primary: "#195de6";
    --color-background-light: "#ffffff";
    --color-background-dark: "#111621";
    --color-text-main: "#0e121b";
    --color-text-secondary: "#6b7280";
    /*  Police  */
    --font-display: "Inter", sans-serif;
    /*  Border radius  */
    --radius-default: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
    --radius-full: 9999px


}

/* Custom delicate animations */
@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-enter {
    animation: fadeInSlideUp 0.6s ease-out forwards;
    opacity: 0;
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-300 {
    animation-delay: 300ms;
}

body {
    min-height: max(884px, 100dvh);
}